@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes beeFly {
  0%, 40%, 100% {
    transform: translate(-50%, 0); /* Sitting on button */
  }
  50% {
    transform: translate(20%, -60px); /* Moving right and up */
  }
  60% {
    transform: translate(-40%, -80px); /* Moving left and further up */
  }
  80% {
    transform: translate(-10%, -40px); /* Coming closer to the button */
  }
}

.animate-bee {
  animation: beeFly 15s ease-in-out infinite; /* Longer cycle for natural look */
  transform-origin: center;
  z-index: 2;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}

/* globals.css */
.line-container {
  position: absolute;
}

.line {
  width: 0;
  height: 2px;
  background-color: #28a745;
  position: absolute;
  transform-origin: center left;
  transition: width 0.7s ease;
}

.line.animate-line {
  width: 150px; /* Adjust this length as needed */
}

.product-label {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #2a5934;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease;
}

.line-container.line-0 {
  top: 15%;
  left: 10%;
}

.line-container.line-1 {
  top: 10%;
  right: 5%;
}

/* Add remaining positions for lines */
